<%- include('partials/header'); -%>

<header class="homepageContainer">
  <div class="smoothie">
    <img src="/backgroundimage.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Simple Recipes</h2>
    <h3>by home Chefs</h3>
    <a href="/reciepe" class="btn">View Ingredients</a>
  </div>
</header>


<%- include('partials/footer'); -%>