<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/soup.jpg" alt="soup">
    <h4>Tomato Soup</h4>
    <p><b>Main Ingredients:</b></p>
    <p>Tomatoes, Cooking Oil, Garlic, Sugar, Black Pepper, Salt, Mint leaves, water, cheese</p>
  </li>
  <li class="recipe">
    <img src="/vegmanch.jpg" alt="vegmanch">
    <h4>Veg Manchuria</h4>
    <p><b>Main Ingredients:</b></p>
    <p>shredded cabbage, carrot, ginger, olive oil, salt, soya sauce, red sauce</p>
  </li>
  <li class="recipe">
    <img src="/pizza.jpg" alt="pizza">
    <h4>Pizza</h4>
    <p><b>Main Ingredients:</b></p>
    <p>Bread Floor, olive oil, sugar, salt, yeast, pizz sauce, cheese, olives, pepper, chillies</p>
  </li>
  <li class="recipe">
    <img src="/biryani.jpg" alt="biryani">
    <h4>Chicken Biryani</h4>
    <p><b>Main Ingredients:</b></p>
    <p>Chicken, Basmati Rice, Ginger-Garlic Paste, Red Chili Powder, Turmeric Powder, Bay Leaves, Nutmeg</p>
  </li>
  
  <li class="recipe">
    <img src="/brownie.jpg" alt="brownie">
    <h4>Brownies</h4>
    <p><b>Main Ingredients:</b></p>
    <p>Dates, Coco powder, coconut oil, peanut butter, choco chips, walnuts</p>
  </li>
  
  <li class="recipe">
    <img src="/gelato.jpg" alt="gelato">
    <h4>Gelato</h4>
    <p><b>Main Ingredients:</b></p>
    <p>Milk, heavy cream, yolks, sugar</p>
  </li>
 
</ul>

<%- include('partials/footer'); -%>